[submodule "Dependencies/CUE4Parse"]
	path = Dependencies/CUE4Parse
	url = https://github.com/Bmarquez1997/CUE4Parse
[submodule "Dependencies/FluentAvalonia.BreadcrumbBar"]
	path = Dependencies/FluentAvalonia.BreadcrumbBar
	url = https://github.com/h4lfheart/FluentAvalonia.BreadcrumbBar
[submodule "FNAFPorting.Plugins/UEFormat/Blender"]
	path = FNAFPorting.Plugins/UEFormat/Blender
	url = git@github.com:Bmarquez1997/UEFormat.git
	branch = blender
[submodule "FNAFPorting.Plugins/UEFormat/Unreal"]
	path = FNAFPorting.Plugins/UEFormat/Unreal
	url = git@github.com:Bmarquez1997/UEFormat.git
	branch = unreal
